<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Test Event1 For Web Service</string>
			<key>level</key>
			<string>0</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SubItem 0</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Name</key>
					<string>SubItem 1</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event3 For Web Service</string>
			<key>level</key>
			<integer>0</integer>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SubItem 0</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Name</key>
					<string>SubItem 1</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event5 For Web Service</string>
			<key>level</key>
			<integer>0</integer>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SubItem 1</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Name</key>
					<string>SubItem 2</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event9 For Web Service</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event25 For Web Service</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event 17For Web Service</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event 25 For Web Service</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event 27 For Web Service</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Event 29 For Web Service</string>
			<key>level</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
