<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>dev3@gmail.com</string>
		<key>password</key>
		<string>dev3</string>
	</dict>
	<dict>
		<key>username</key>
		<string>dev3</string>
		<key>password</key>
		<string>dev3</string>
	</dict>
	<dict>
		<key>username</key>
		<string>dev1</string>
		<key>password</key>
		<string>dev1</string>
	</dict>
	<dict>
		<key>username</key>
		<string>gniyes</string>
		<key>password</key>
		<string>gniyes</string>
	</dict>
	<dict>
		<key>username</key>
		<string>sim</string>
		<key>password</key>
		<string>sim</string>
	</dict>
</array>
</plist>
